title Google
head
  link(rel='icon', href=require('images/favicons/google.png'))
body
  div(style={height: '20px', background: 'white'})
  div(style={height: '40px', background: 'white'})
    span(style={position: 'absolute', right: '0pt'})
      a(class='headerlinks',href='#', style={padding: '0px 27px 0px 0px'}) Gmail
      a(class='headerlinks',href='#', style={padding: '0px 27px 0px 0px'}) Images
      a(class='headerlinks',href='#', style={padding: '0px 27px 0px 0px'}) Icon
      input(class='signin',type='button', value='Sign in',style={width:'80px', background:'blue', color:'white'})
      span(style={padding:'0px 0px 0px 27px'})



  div(style={height: '160px'})
  div
    center
      img(src=require('images/others/googlelogo.png'), alt='google')
  div(style={height: '30px', background: 'white'})
  div(style={height: '67px', background: 'white'})
    center
      input(class='searchbar', type='text', style={height:'44px', width:'500px'})
  div(style={height: '79px', background: 'white'})
    center
      input(class='button', type='button', value='Google Search', style={height:'36px', width:'138px'})
      span(style={padding:'0px 0px 0px 14px'})
      input(class='button',type='button', value="I'm Feeling Lucky", style={height:'36px', width:'138px'})
  div(style={height: '79px', background: 'white'})
    center
      p Google offered in:
        a(class='link', href='#', style={padding: '0px 0px 0px 12px'}) हिन्दी
        a(class='link',href='#', style={padding: '0px 0px 0px 12px'} ) বাংলা
        a(class='link',href='#', style={padding: '0px 0px 0px 12px'}) తెలుగు
        a(class='link',href='#', style={padding: '0px 0px 0px 12px'}) मराठी
        a(class='link',href='#', style={padding: '0px 0px 0px 12px'}) ગુજરાતી
        a(class='link',href='#', style={padding: '0px 0px 0px 12px'}) தமிழ்
        a(class='link',href='#', style={padding: '0px 0px 0px 12px'}) ಕನ್ನಡ
        a(class='link',href='#', style={padding: '0px 0px 0px 12px'}) മലയാളം
        a(class='link',href='#', style={padding: '0px 0px 0px 12px'}) ਪੰਜਾਬੀ
footer
  div(style={height: '45px', background: '#f2f2f2'})
    div(style={height: '10px', background: '#f2f2f2'})
    a(class='otherlinks',href='#', style={padding: '0px 0px 0px 27px'}) India
  div(style={height: '45px', background: '#f2f2f2'})
    div(style={height: '10px', background: '#f2f2f2'})
    a(class='otherlinks',href='#', style={padding: '0px 0px 0px 27px'}) Advertising
    a(class='otherlinks',href='#', style={padding: '0px 0px 0px 27px'}) Business
    a(class='otherlinks',href='#', style={padding: '0px 0px 0px 27px'}) About
    a(class='otherlinks',href='#', style={padding: '0px 0px 0px 27px'}) How Search works
    span(style={position: 'absolute', right: '0pt'})
      a(class='otherlinks',href='#', style={padding: '0px 27px 0px 0px'}) Privacy
      a(class='otherlinks',href='#', style={padding: '0px 27px 0px 0px'}) Terms
      a(class='otherlinks',href='#', style={padding: '0px 27px 0px 0px'}) Settings
