extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Desktop page
  section.soemthing
    h1.page__title--color-red Here Comes the Index
    p(class='something' style={color: 'blue'}) "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    hr
  .some
    h2.defg Some Random Text
    p(style={color: 'grey'}) Okay it was a just some random try.
    a(href='https://google.com') Click Here
    img(src='https://unsplash.com/photos/G85VuTpw6jg')
    hr
  .some2
    h2 What do we do here!
    p Why dont we use some lists out here. Sounds cool, lets do this.
    ul(type='circle')
      each val in [1,2,3,4,5,6,7,8,9]
        li=val
    hr
