@import './base/variables',
'./base/mixins';

// Vendors
@import './vendors/bootstrap/bootstrap';

// Bem example
.page {

  &__title {
    text-align: center;
    text-decoration: line-through;

    &--color-red {
      color: $red;
    }

    &--bold {
      font-weight: bold;
    }
  }
}

.header {
  height: 60px;
  padding-top: 18px;
  padding-bottom: 5px;

  &__nav {
    padding: 0px 27px 0px 0px;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
  }

  &__button {
    border: 1px solid #0000ff;
    border-radius: 3px;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: #0000ff ;
    color: #ffffff;
    font-weight: bold;
    width: 74px;
    height: 30px;

    &--margin-right {
      margin-right: 27px;
    }
  }
}

.searchform {
  text-align: center;

  &__div {

    &--height-67px {
      height: 67px;
    }

    &--height-79px {
      height: 79px;
    }
  }

  &__image {

    padding-top:160px;
    padding-bottom:30px;
  }

  &__searchbar {
    height: 44px;
    width: 500px;
    border-radius: 20px;
    border-color: 1px solid #f2f2f2;
  }

  &__button {
    height: 36px;
    width: 138px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
  }
}

.googleOfferedIn {
  height: 68px;
  text-align: center;

  &__links {
    color: blue;
    font-family: arial,sans-serif;
    font-size: 13px;
    padding: 0px 0px 0px 12px;
  }
}

.button {
  border: 1px solid;
  border-radius: 3px;
  font-family: arial,sans-serif;
  font-size: 14px;
}
.button--state-signin {
  background-color: #0000ff ;
  border-color: #0000ff;
  color: #ffffff;
  font-weight: bold;
  width: 74px;
  height: 30px;
}
.button--state-search {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #5F6368;
}



.link {

  color: blue;
  font-family: arial,sans-serif;
  font-size: 13px;
  padding: 0px 0px 0px 12px;

}

.otherlinks {
  color: rgba(0,0,0,0.54);
  font-family: arial,sans-serif;
  font-size: 15px;
  padding: 0px 0px 0px 27px;

}
.headerlinks {
  font-family: arial,sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,.87);
  padding: 0px 0px 0px 27px;
}
.button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
}

.signin {
  font-size: 14px;
  font-weight: bold;
  font-family: arial,sans-serif;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px;
}

.searchbar {

  border-radius: 20px;
  border-color: 1px solid #f2f2f2;

}
