@import './base/variables',
'./base/mixins';

// Vendors
@import './vendors/bootstrap/bootstrap';

// Bem example
.page {

  &__title {
    text-align: center;
    text-decoration: line-through;

    &--color-red {
      color: $red;
    }

    &--bold {
      font-weight: bold;
    }
  }
}

.header {
  height: 60px;
  padding-bottom: 5px;
  padding-top: 18px;

  &__nav {
    color: rgba(0, 0, 0, .87);
    font-family: arial, sans-serif;
    font-size: 14px;
    padding: 0px 27px 0px 0px;
  }

  &__button {
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 3px;
    color: $white;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: 74px;

    &--margin-right {
      margin-right: 27px;
    }
  }
}

.searchform {
  text-align: center;

  &__div {

    &--height-67px {
      height: 67px;
    }

    &--height-79px {
      height: 79px;
    }
  }

  &__image {
    padding-bottom: 30px;
    padding-top: 160px;
  }

  &__searchbar {
    border-color: 1px solid $gray-95;
    border-radius: 20px;
    height: 44px;
    width: 500px;
  }

  &__button {
    background-color: $gray-95;
    border: 1px solid $gray-95;
    border-radius: 3px;
    color: $shuttle-gray;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    width: 138px;
  }
}

.googleOfferedIn {
  height: 68px;
  text-align: center;

  &__links {
    color:  $blue;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 0px 0px 0px 12px;
  }
}

.footer {
  background-color: $gray-95;

  &__div {

    &--height-38px {
      border-top: 1px solid $white-smoke;
      height: 38px;
    }

    &--height-10px {
      height: 10px;
    }
  }

  &__links {
    color: rgba(0, 0, 0, 0.54);
    font-family: arial, sans-serif;
    font-size: 15px;
    padding-left: 27px;
    //padding-top: 27px;
    //margin-top: 15px;

      &--paddingRight-27px {
        padding-left: 0px;
        padding-right: 27px;
      }
  }
}
